PRIVATE_KEY=your_deployer_private_key
LOCAL_RPC_URL=http://127.0.0.1:9831
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_KEY
POLYGON_RPC_URL=https://polygon-rpc.com
BASE_RPC_URL=https://mainnet.base.org
ETHERSCAN_API_KEY=
POLYGONSCAN_API_KEY=
BASESCAN_API_KEY=
TREASURY_WALLET=0x_your_treasury_address
ALLOW_MAINNET_DEPLOY=false
